{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--10-col">
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">save</button>
                <a class="mdl-button mdl-js-button mdl-button--raised" href="{% url "property-list" %}">back to list</a>
            </form>

        </div>
        <div class="mdl-cell mdl-cell--1-col"></div>
    </div>
{% endblock %}
